<div class="container">
    <div class="card col-6 p-4 w-50">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      <% end %>
  </div>
</div>
